

<div class="container d-flex justify-content-center align-items-center mt-sm-2 mt-5 p-5">

    <div class="shadow bg-body-tertiary bg-opacity-75 p-5">

        <span class="bi bi-check-circle-fill text-info-emphasis"></span>
        Order Confirmed!
        <div class="text-info">
            Thank You for shopping from us...
        </div>
    </div>

</div>

